<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.matkap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/matkap_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/matkap_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name="cz.matkap.CheatSheet"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="cz.matkap.QuestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cz.matkap.QuizSummary"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cz.matkap.QuizSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cz.matkap.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cz.matkap.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cz.matkap.QuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cz.matkap.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="cz.matkap.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>